/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/
html {
	padding: 0;
	margin: 0;
	height: 99.5%;
	background-color: #0681C2;
}

body {
	margin: auto;
	color: #1a1a1a;
}

#banner {
	padding: 10px;
	font: small-caps 40px/40px "Times New Roman", serif;
	text-align: center;
	color: #0681C2;
}

nav {
	vertical-align: middle;
	text-align: center;
}

nav ul {
	padding: 0 2em;
	list-style: none;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
}

nav ul li{
	margin-left: .2em;
	margin-right: .2em;
	float: left;
	display: inline-block;
}

nav ul li a {
	display: block;
	padding: .1em .5em .1em .5em;
}

nav ul li {
	position: relative;
}

#content {
	background-color: #00BABD;
}

section {
	width: 75%;
	min-width: 600px;
	margin: auto;
	padding: 1em;
	background-color: white;
}

footer {
	background-color: #0681C2;
	color: #1a1a1a;
	text-transform: uppercase;
	font-weight: bold;
	padding: .5em;
}

/**BLOCK**/
.block {
	background: rgba(221,186,63,.6);
	position: absolute;
	width: 100%;
	height: 30px;
}

/**LINKS**/
a {
	text-decoration: none;
	color: #01A9DB;
}

a:link, a:visited {
	color: #084B8A;
}

a:hover, a:focus {
	color: #A9E2F3;
}