// Place all the styles related to the MinesSwapper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#seperate {
	margin: auto;
	margin-top: 1.5em;
	width: 100%;
}

#seperate td{
	vertical-align: top;
}

#homeListings {
	border: 1px solid red;
	width: 100%;
	margin: auto;
}

#homeListings td {
	border: 1px solid yellow;
}

#homeItemImage img {
	width: 120px;
	height: 120px;
}

#homeRight {
	width: 100px;
}