// Place all the styles related to the Notice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recievedTable, #pendingTable {
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	border-collapse: collapse;
}

#recievedTable tr:nth-child(even) {
	background-color: #A9E2F3;
}
#pendingTable tr:nth-child(even) {
	background-color: #A9E2F3;	
}


#thead1 {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;

	background: #e1aa00; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTFhYTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  #e1aa00 0%, #fefcea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e1aa00), color-stop(100%,#fefcea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #e1aa00 0%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #e1aa00 0%,#fefcea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #e1aa00 0%,#fefcea 100%); /* IE10+ */
background: linear-gradient(135deg,  #e1aa00 0%,#fefcea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1aa00', endColorstr='#fefcea',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

#thead2 {
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	border-style: none none double none;
	background-color: white;
}