// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tradeTable {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
}

#tradeTable tr:nth-child(even) {
	background-color: #A9E2F3;
}