<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table id="homeListings">
	<tr>
		<td>
			<table id="entries">
				<% @items.each do |item| %>
					<thead>
						<tr>
							<td colspan="2"><h4><%= item.title %></h4></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="homeItemImage">
								<%= image_tag(item.itemimage) %>
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</td>
		<td id="homeRight">
			RIGHT SIDE
			<br />
			FOR JUNK AND SHIT
		</td>
	</tr>
</table>

