<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Random Trades</h1>
<table id="homeListings">
	<tr>
		<td>
			<% @items.each do |item| %>
				<table id="homeEntries">
					<thead>
						<tr>
							<td colspan="2"><h4><%= item.title %></h4></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="homeItemImage">
								<%= image_tag(item.itemimage) %>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>
		</td>
		<td id="homeRight">
			RIGHT SIDE
			<br />
			FOR JUNK AND SHIT
		</td>
	</tr>
</table>

