/* Main Page Style */

#banner {
  background: #62868D;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  text-align: center;
}

#columns {
  background: #F9F3E3;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float:left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #D78B7D;
}


/*body {
  font-size: 12px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  text-align:center;
	margin:0px;
	padding:0px;
}

p, h1, h2, h3, dl, dt {
margin:0px 10px 10px 10px;
}

h1 {
font-size:16px;
padding-top:10px;
text-transform:uppercase;
color: #564b47;
background-color: transparent;
}

h2 {
  font-size:14px;
  font-family: Verdana;
}

h3 {
  font-size:13px;
}

a { 
color: black;
font-size: 11px;
background-color:transparent;
text-decoration: underline; 
}

#box {
width:800px;
margin: 0px auto;
padding:0px;
text-align:left;
}

#left {
width:175px;
height:500px;
padding:0px;
float:left;
background-color:#F0e68c;
border:2px solid;
border-radius:15px;
}

#content {
width:400px;
height:500px;
padding:0px;
float:left;
background-color:#F0e68c;
overflow: auto;
border:2px solid;
border-radius:15px;
}

#right {
width:175px;
height:500px;
padding:0px;
float:left;
background-color:#F0e68c;
border:2px solid;
border-radius:15px;
}*/